.dialog {
    position: absolute;
    margin: center;
    width: 600px;
    height: 350px;
    top: -450px;
    left: 350px;
}

.dialog-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.dialog-container-accept {
    position: relative;
    margin: auto;
    top: 70px;
    width: 30%;
    height: 30%;
    background-color: #9CCDEB;
}

.dialog-title-accept {
    position: absolute;
    left: 53px;
    line-height: 50px;
    text-align: center;
    font-family: SimHei;
    font-size: 20px;
}

.accept-btn {
    position: absolute;
    top: 58px;
    right: 29%;
    width: 70px;
    height: 30px;
    background-color: #CFE8F6;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    border-style: outset;    
}

.dialog-title {
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #00A9FF;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    font-family: SimHei;
    font-size: 30px;
}

.content {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 85%;
    background-color: #9CCDEB;
}

.btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
}

.default-btn {
    position: absolute;
    top: 0px;
    right: 11%;
    width: 90px;
    height: 35px;
    background-color: #CFE8F6;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    border-style: outset;
}

.confirm-btn {
    position: absolute;
    top: 0px;
    right: 11%;
    width: 90px;
    height: 35px;
    background-color: #CFE8F6;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
}

.danger-btn {
    position: absolute;
    top: 0px;
    right: 28%;
    width: 90px;
    height: 35px;
    background-color: #CFE8F6;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
}

#form-table {
    position: absolute;
    width: 100%;
    height: 100%;
}

.item {
    position: absolute;
    font-size: 18px;
    left: 60px;
    top: 255px;
}

.form-control {
    z-index: 999;
    top: 254px;
    left: 163px;
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: #CFE8F6;

}

.form-group {
    position: relative;
    left: 10%;
    top: 86%;
}

#comment-container {
    position: relative;
}

#comment {
    position: absolute;
    text-align: top;
    top: 30px;
    left: 10%;
    width: 470px;
    height: 188px;
    background-color: #CFE8F6;
}