body {
}

#Delivery-Container {
	width: 100%;
	position: fixed;
	top: 11.5%;
}




#DeliveryTable {
	position: relative;
	top: 25px;
	margin: auto;
	height: 600px;
	width: 1298.5px;
	border: #aaa 1px outset;
}

#FormTable {
	position: absolute;
	height: 500px;
	width: 1300px;
}

#paging {
	position: absolute;
	width: 1295px;
	height: 50px;
	bottom: 0;
}

#vpage {
	position: absolute;
	top: 7.5px;
}

.btn {
	position: absolute;
	top: 7.5px;
}

#issue {
	right: 330px;
}

#accept {
	right: 230px;
}

#submit {
	right: 130px;
}

#query {
	right: 30px;
}

#InfoName {
	position: absolute;
	right: 53%;
	top: 13px;
	font-weight: bold;
}

#Money {
	position: absolute;
	right: 40%;
	top: 13px;
	font-weight: bold;
}